{% extends "layouts/layout1.html" %}
{% block title %}
Personal Statement
{% endblock %}
{% block content %}
    <div class="container">
      <h1>Personal Statement</h1>
      <br>
      <p>The personal statement is your best chance to show an admissions committee that you are more than your GPA and MCAT. Every applicant has both strengths and weaknesses, but presentation matters and this is a chance to showcase your strengths (or how you overcame your weaknesses). Your personal statement is one critical way for you to highlight your talents and show medical schools that have what it takes.</p>
      <p>This tool will allow you to maintain multiple drafts of your personal statement.</p>
      <p><i>Tip: There is a character and word counter that will appear as you type.</i></p>


     <table id="table" class="table table-hover table-mc-light-blue">
      <thead>
        <tr>
          <th>Title</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
        <tr>
          <form action="{{ url_for('personalstatement') }}" method="POST" onsubmit="setTimeout(function () { window.location.reload(); }, 10)">
          <th><input type="text" placeholder="Title" name="title" value="{{ request.form.title }}"></th>
          <th><button class="btn btn-primary" type="submit" value="Submit"><span class="fa fa-plus"></span></button></th>
          </form>
        </tr>
        {% for r in result %}
          <tr>
            <td style ="word-break:break-all;">
                {{r.title}}
            </td>
            <td style ="word-break:break-all;">
            <form action="{{ url_for('personalstatementdetails') }}" method="post" >
            <button class="btn btn-success" type="submit" name="personalstatementdetails" value="{{ r.id }}">
            <span class="fa fa-pencil"></span></button>
            </form>
            </td>
            <td style ="word-break:break-all;">
            <form action="{{ url_for('personaldetailsword')}}" method="post" >
            <button class="btn btn-info" type="submit" name="word" value="{{ r.id }}">
            <span class="fa fa-print"></span></button>
            </form>
            </td>
            <td style ="word-break:break-all;">
            <form action="{{ url_for('deletepersonalstatement') }}" method="post" >
            <button class="btn btn-danger" type="submit" name="personalstatementdelete" value="{{ r.id }}">
            <span class="fa fa-trash"></span></button>
            </form>
            </td>
          </tr>
        {% endfor %}
    </table>

<!--Allows organizing by clicking on headings-->

<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("table");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc";
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 2; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>
</div>
{% endblock %}